* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.Home {
    height: 100vh;
}

header {
    background-color: rgba(23, 21, 21, 0.902);
    height: 10%;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
}

main {
    height: 75%;
    background-image: url(../../../public/pirlo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

footer {
    background-color: rgba(23, 21, 21, 0.902);
    height: 15%;
}